<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.module.sys.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.company.project.module.sys.model.SysDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="dept_level" jdbcType="VARCHAR" property="deptLevel" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
  </resultMap>

  <update id="changeToTop" parameterType="java.util.List">
    update tb_sys_dept set parent_id = 0 where id in ( select a.id from (
    (select id from tb_sys_dept where parent_id in
    <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
      #{deptId}
    </foreach>
    ) ) a )
  </update>
</mapper>