body{padding: 0;margin:0;}
a {  text-decoration: none;}
ul, ol {  list-style-type: none;}
li{list-style:none;}
img { display:block; border:0px;}
.left{float:left;}
.right{float:right;}

/*滚动条*/
*::-webkit-scrollbar{width:8px;height:8px;}
*::-webkit-scrollbar-track{background: #f6f6f6;border-radius:2px;}
*::-webkit-scrollbar-thumb{background: #aaa;border-radius:2px;}
*::-webkit-scrollbar-thumb:hover{background: #747474;}
*::-webkit-scrollbar-corner{background: #f6f6f6;}
/*整体布局调整*/
/*.paoding-layout{ min-width: 1366px; min-height:688px;}*/
.paoding-layout .hide{display:none;}
.paoding-layout .paoding-header{height: 88px;background-color: #fff;overflow: hidden;}
.paoding-layout .paoding-content-west{ width: 252px;}

.paoding-linkbutton-right{float:right;}

/*header部分*/
.paoding-header .paoding-logo,.paoding-header .paoding-header-nav,.paoding-header .paoding-header-nav li {float: left; }
.paoding-header .paoding-header-nav {margin-top: 26px; padding-inline-start: 10px;}
.paoding-header .paoding-header-nav .paoding-linkbutton{color: #fff;background: #fff;border: 0 ;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.paoding-header .paoding-header-nav a{width: 120px;height: 35px;border-radius: 20px;line-height: 35px;text-align: center;color: #333;font-size: 16px;display: block;}
.paoding-header .paoding-header-nav a:hover,.paoding-header .paoding-header-nav .paoding-this a{background-color: #3e78c1;color: #fff;box-shadow: 1px 5px 6px rgba(62, 120, 193, 0.2);}

/*side部分*/
/*main*/
.paoding-content-layout .tabs-panels {padding:10px;}
.paoding-content-layout .paoding-tab-content{padding-top: 10px;}
.paoding-content-layout .paoding-tab-content-north .easyui-panel{width:100%;padding:20px 30px;}
.paoding-content-layout .paoding-tab-content-north{height: 72px;}
.paoding-content-layout .paoding-tb-layout .paoding-tab-content-center{padding-top:10px}
.paoding-content-layout .paoding-lf-layout .paoding-tab-content-center {padding-left:10px;}
.paoding-content-layout .paoding-tab-content-west {width:240px;border:none;border-top:1px solid #95B8E7;}
.paoding-content-layout .paoding-tab-content-west .paoding-sys-tree, .tree {margin:10px;}
.tabs-panels .panel-header { background-color: #3e78c1;}
.tabs-panels .panel-header .panel-title{color: #ffffff;}
.tabs-panels .l-btn-plain {background: #fafafa; border-width: 1px;}
.paoding-linkbutton:hover,.dialog-button .l-btn:hover{ color: #fff; background: #3e78c1;border-width: 1px;}
.paoding-content-layout .paoding-dg-toolbar div,.paoding-content-layout .paoding-tree-toolbar div {padding: 10px 5px;}
.paoding-content-layout .paoding-tb-layout .toolbar-north-panel{width:100%;padding:20px 30px;}
.paoding-content-layout  .paoding_searchbox{width:200px;}
.icon-oracle {background: url(../images/dbicons.png) no-repeat -16px 0;}
.icon-sqlserver {background: url(../images/dbicons.png) no-repeat -32px 0;}
.icon-mysql {background: url(../images/dbicons.png) no-repeat -48px 0;}
.icon-mongodb {background: url(../images/dbicons.png) no-repeat -64px 0;}

.easyui-dialog {padding:15px 15px 15px 0px;}
.easyui-dialog .paoding-fitem {margin-bottom:10px;}
.easyui-dialog .paoding-fitem label {margin-left:15px;}
.easyui-dialog .paoding-fitem .easyui-textbox {margin-right:15px;width:180px;}
.easyui-dialog .paoding-fitem .easyui-combobox {margin-right:15px;width:185px;}
.easyui-dialog .paoding-fitem .txt-long {width:455px;}
/*修改页面*/
.crm_bt{ border:1px solid #bfcdda;}
.crm_bt .top_table tr td.border_b{ border-bottom:1px solid #dcdcdc;}
.crm_bt .top_table tr td{ height:35px;}
.crm_bt .top_table td.t_width{ background:#eff3f7; color:#336699; line-height:35px;border-bottom:1px solid #dcdcdc;width: 100px}
.crm_not_null{color: red;}

